<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="well">
        <h1>DEMO</h1>
        {% if current_user %}
        <p class="pull-right">Hola, {{current_user.getUsername}}! <a class="btn btn-secondary btn-sm" href="/log_out">Log Out</a></p>
        {% endif %}
    </div>
    <div class="container">
        {% if alert == 'sign-up-fail' %}
            <div class="alert alert-danger" role="alert"><strong>Lo lamento</strong>, ese nombre de usuario usuario ya existe.</div>
        {% endif %}

        {% if alert == 'log-in-fail' %}
            <div class="alert alert-danger" role="alert"><strong>Lo lamento</strong>, intente logear de nuevo.</div>
        {% endif %}

        {% if alert == 'log-out' %}
            <div class="alert alert-success" role="alert"><strong>Adios! </strong>Sesion cerrada.</div>
        {% endif %}
        <div class="col-md-6">
            <h2>Sign Up</h2>
            <form action="/sign_up" method="POST">
                <input class="form-control" placeholder="Username" name="username" type="text" required>
                <br>
                <input class="form-control" placeholder="Password" name="password" type="password" required>
                <br>
                <button type="submit" class="btn btn-primary center-block">Sign Up</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Log In</h2>
            <form action="/log_in" method="POST">
                <input class="form-control" placeholder="Username" name="username" type="text">
                <br>
                <input class="form-control" placeholder="Password" name="password" type="password">
                <br>
                <button class="btn btn-info center-block">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>
