<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="well">
        <h1>DEMO</h1>
        <div class="col-md-2 col-md-offset-5">
            <a class="btn btn-primary btn-sm" href="/">Home</a>
            &nbsp;&nbsp;
            {% if current_user %}
            <a class="btn btn-secondary btn-sm" href="/log_out">Log Out</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% if alert == 'sign-up' %}
            <div class="alert alert-success" role="alert"><strong>Bienvenido </strong>, {{current_user.getUsername}}. Su registro a sido exitoso!</div>
        {% endif %}

        {% if alert == 'log-in' %}
            <div class="alert alert-success" role="alert"><strong>Bienvenido {{current_user.getUsername}}</strong>. Inicio de sesion correcto!</div>
        {% endif %}
    </div>
</body>
</html>
